div#canvas{
    align-items: center;
}

h2{
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-size: 1rem;
    background-color: cornflowerblue;
    border: solid;
    border-width: 1px;
    border-color: darkblue;
    color: white;
}
